nav {
    background-color: #479f76;
    padding: 10px;
    font-family: Poppins, sans-serif;
    color: #9100D1;
    font-style: bold;
    font-size: 20px;   
    
    ul{
    
        background-color: #ffffff;
        color: #9100D1;
        li {
            display: inline-block;
            color: #9100D1;
        }
    }
}

body {
    background-color: #ffffff;
    tex
}