nav {
    background-color: #479f76;
    color: #9100d1;
    font-family: Poppins, sans-serif;
    font-style: bold;
    font-size: 20px;   
    text-align: center;
}

   
    
nav li {
    color: #9100d1;
    display: flex;
    justify-content: center;
}


body {
    background-color: #ffffff;
    
}