.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    /* Optional: Make the navbar background transparent */
    background-color: #479F76;
    /* Optional: Move the navbar is positioned over the hero */
    font-family: 'Poppins', sans-serif;
    color: #6C757D;
    font-weight: 700;
}
.projectlist {
    flex: 1;
    text-align: center;
      }
      
.projectlistitem{
    list-style: none;
    padding: 0;
    margin: 0;
      }
.projectlistitem li {
        display: inline-block;
        margin: 0 15px;
      }
.nav-item:hover{
    color: #9100d1;
    font-weight: bold;
}
.nav-item.active{
    color: #9100d1;
    font-weight: bold;
}
.hero{
    background-image: url('images/hero_forestimagery.png');
    background-color: white;
    
    
}
.hero div{
    padding-bottom: 48px;
}

body {
    background-color: #e099ff; 
    
}

.card{
    background-color: #198754;
    border: none;
    color:#000000;
    margin-top: 10px;
    margin-bottom: 10px;
    font-family: 'Poppins', sans-serif;
    text-align: center;
} 
.projects {
    padding-bottom: 48px;
}
.bio {
   padding-bottom: 48px;
   text-align: center;
   color: #000000;
   font-family: 'Poppins', sans-serif;
   
}
.bio h2 {
    
    font-size: 2rem;
    font-weight: 700;
    text-align: center;
    margin-bottom: 20px;
}

/********************************
Typography
**********************************/
h1 {
    /* Optional: Add letter spacing to all headings */
    letter-spacing: -0.05rem;
    /* Optional: Adjust font-weight to all headings */
    font-weight: 700;
    font-size: 72px;
    font-style: bold;
    }
h2 {
    /* Optional: Add letter spacing to all headings */
    letter-spacing: -0.05rem;
    /* Optional: Adjust font-weight to all headings */
    font-weight: 500;
    text-align: center;
    /* Optional: Adjust font-size of heading 2 */
    font-size: 2rem;
    }
h3{
    /* Optional: Add letter spacing to all headings */
    letter-spacing: -0.05rem;
    /* Optional: Adjust font-weight to all headings */
    font-weight: 700;
}
h4,
h5{
    /* Optional: Add letter spacing to all headings */
    letter-spacing: -0.05rem;
    /* Optional: Adjust font-weight to all headings */
    font-weight: 700;
    font-size: small;
    }
h6 {
    /* Optional: Add letter spacing to all headings */
    letter-spacing: -0.05rem;
    /* Optional: Adjust font-weight to all headings */
    font-weight: 500;
}

p {
    /* Optional: Adjust font-weight to all paragraphs */
    font-weight: 400;
    /* Optional: Adjust font-size of paragraph */
    font-size: 21px;
    /* Optional: Add letter spacing to all paragraphs */
    letter-spacing: -0.05rem;
}

.display-1 {
    /* Optional: Customizes display-1 style based on my Figma UI kit */
    font-weight: 700;
    font-size: 3.5rem;
    line-height: 100%;
    letter-spacing: -0.2rem;
}

.display-2 {
    /* Optional: Customizes display-2 style based on my Figma UI kit */
    font-weight: 700;
    font-size: 2.75rem;
    line-height: 100%;
    letter-spacing: -0.2rem;
}

.col-xl-6:last-child {
    /* Optional: Center the last column in the row */
    text-align: center;
    /* Optional: Add margin to the last column in the row */
    margin-top: 20px;
    padding-bottom: 48px;
}

.btn { 
    /* Optional: Change primary button background color to primary color */
    background-color: #C542FF;
    /* Optional: Change primary button text color to white using variable */
    color: #ffffff;
    /* Optional: Remove primary button outline */
    border: none;
    text-align: center;
    display: inline-block;
    
}

.btn-primary:hover {
    /* Optional: Change primary button hover state background and text color  */
    background-color: var(--secondary-color);
    color: var(--bs-dark);
}

@media (max-width: 768px) {
    #bio .col-xl-6:last-child {
      text-align: center;
    }
  }


.footer {
    /* Change footer background color */
    background-color: #479F76;
    /* Optional: Change footer text color to white using variable */
    color: #000000;
    /* Optional: Center footer elements */
    text-align: center;
}